.languageCard {
  background: #F4F4F4;
  border-radius: 8px;
  padding: 6px 13px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;

  margin-top: 5px;
  margin-right: 10px;
  :not(:first-child) {
    margin-right: 10px;
  }

  &__removeButton {
    width: 10px;
    height: 10px;
    margin-left: 3px;
    border: none;

    &__removeCross {
      margin-left: 2px;
      width: 10px;
      height: 10px;
      font-weight: bold;
    }
  }
}

